#page-yield{
    font-family:arial !important;
}
.hor_line{
    width:100%;
    background:#999;
    height:1px;
    float:right;
}
.light_hor_line{
    width:100%;
    background:#ccc;
    height:1px;
    float:right;
}
#receipt_text{
    float:right;
    font-size:20px;
    font-weight:lighter;
    padding:10px 0px;
    font-family:Arial;
    width:50%;
    margin-right:30px;
}
#receipt_val_text{
    float:left;
    font-size:20px;
    font-weight:lighter;
    padding:10px 0px;
    font-family:Arial;
    width:40%;
    text-align:left;
    margin-left:20px;
}
#receipt_val_text span{
    color:#000;
    font-weight:bold;
}
.title_section{
    float:right;
    width:100%;
    color:#666;
    margin-bottom:20px;
}
#sub_text_left{
    text-align:right;
    margin-right:30px;
    font-size:17px;
    font-weight:lighter;
    padding:10px 0px;
    font-family:Arial;
    color:#666;
    float:right;
}
#sub_text_right{
    text-align:left;
    margin-left:50px;
    font-size:17px;
    font-weight:lighter;
    padding:10px 0px;
    font-family:Arial;
    color:#666;
    float:left;
}
.subsection{
    float:right;
    width:100%;
    margin-top:20px;
    margin-bottom:15px;
}.left_section{float:right;width:50%;}
.right_section{float:left;max-width:50%;max-height:30px;}
.combined_sec{float:right;margin-top:30px;max-height:30px;}
.label_sec{float:right;font-size:14px;min-width:120px;}
.value_sec{float:right;font-size:14px;min-width:120px;max-width:280px;word-break:break-word;}
#pdf-header{width:800px;overflow:hidden;height:100px;}
.logo{height:700px;width:70px;float:right;margin-top:-8px;}
.logo img{width:100%;}
.header-content{color:#000;font-family:arial;font-weight:bold;font-size:17px;float:right;width:635px;word-wrap:break-word;margin-right:30px;}
.header-content p{margin-top:3px;margin-bottom:2px;margin-left:10px;}
.header-content p.institution_address{font-weight:normal !important;color:#000 !important;margin-top:10px !important;font-size:16px;}
#basic_info_section{float:right;width:100%;margin-right:30px;}
.particalar_name{float:right;width:70%;font-size:16px;font-weight:normal;}
.particalar_amount{float:left;max-width:25%;font-size:16px;font-weight:normal;margin-left:50px;}
.slno{float:right;font-size:16px;font-weight:normal;margin-right:30px;margin-left:5px;}
.particalars_list{width:100%;float:right;margin-bottom:5px;}
.right_total{float:left;width:40%;margin-left:20px;line-height:30px;}
.right_total_label{float:right;width:50%;word-break:break-word;margin-left:10px;}
.right_total_amount{float:left;margin-left:30px;}
.left_info{margin-top:10px;float:right;width:50%;margin-left:20px;line-height:30px;}
.left_info_label{float:right;max-width:70%;min-width:40%;word-break:break-word;margin-left:10px;margin-right:20px;}
.left_info_value{float:right;width:30%;}
.label_collection_part{float:right;width:100%;color:#999;}
.label_part{float:right;width:35%;margin-left:20px;}
.student_name{font-size:17px;font-weight:bold;}
.value_part{float:right;width:35%;margin-top:10px;margin-bottom:10px;margin-left:20px;}
.width_20{width:20%;margin-left:0px;}
.small_text{font-size:13px;margin-left:40px;}
.note_text{font-size:12px;color:#666;margin-right:30px;line-height: 15px;}
.add_width{width:80%;}
.value_collection_part{float:right;width:100%;margin-bottom:20px;}
.page-break {
    display:block;
    clear:both;
    page-break-after:always;
}